* {
  box-sizing: border-box;
}
body {
  font-family: "Source Code Pro", monospace;
  color: white;
}
.container {
  background: radial-gradient(
    circle,
    rgba(46, 199, 113, 1) 23%,
    rgba(112, 201, 149, 0.748719551193882) 76%
  );
  box-shadow: 10px 5px 5px rgba(38, 136, 87, 0.587);
  width: 550px;
  height: 380px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .city {
    font-size: 30px;
    line-height: 15px;
    font-weight: bold;
    margin: 30px 0 20px 0;
  }
  .main-weather-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-temperature {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      .icon {
        width: 100px;
        height: 100px;
        margin-right: 15px;
      }
      .temperature {
        display: flex;
        .temperature-value,
        .temperature-units {
          font-size: 25px;
          line-height: 15px;
          font-weight: bold;
        }
      }
    }
    .weather-type {
      margin-bottom: 13px;
      font-size: 15px;
      line-height: 14px;
    }
  }
  .additional-weather-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    .weather-indicator {
      width: 25%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .name-weather-indicator {
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
      }
      .value-weather-indicator {
        display: flex;
        justify-content: center;
        div[class*="-value"],
        .units {
          font-size: 13px;
          margin-top: 8px;
        }
      }
    }
  }
}
